.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;  
    margin: auto;  
    max-height:fit-content ;
    position: relative;
}


.infoCont {
    width: 60%;
    position: absolute;
    z-index: 100;
    left: 50px;
    font-size: 32px;
    background-image: url(./../assets/images/pattern-quotes.svg);
    background-position: top left 50px;
    background-repeat: no-repeat;
}

.info {
    color: var(--dark-blue);
    font-weight: medium;
}
.userInfo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    
}

.name {
    color: var(--dark-blue);
    font-weight: bold;
}
.position {
    margin: 0 0 0 10px;
    color: var(--grayish-blue);

}

.contImage {
    width: 40%;
    position: relative;
    left: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contImage:before {
    position: absolute;
    z-index: -1;
    content: '';
    background-image: url(../assets/images/pattern-bg.svg);
    background-repeat:no-repeat;
    background-size: 100%;
    width:130%;
    height: 130%;
}
.imageCont {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    object-fit: cover;
}
.swicher {
    position: absolute;
    bottom: -10px;
    left: 20px;
    background:#fff;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3000;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 5px 10px 5px #7773;
}
.swicher::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
}

.icon {
    padding:10px;
    font-size: 1.3rem;
    transition: all .2s;
    opacity: .7;
    color: var(--dark-blue);
}
.icon:hover {
    opacity: 1;
}


@media screen and (max-width : 1000px) {
    .cont {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;    
        height: max-content;
        position: absolute;
        top: 100px;
    }
    
    
    .infoCont {
        width: 100%;
        position: relative;
        left: 0px;
        margin: 30px 0;
        font-size: 1.6rem;
        text-align: center;
    }

    .userInfo {
        flex-direction: column;
        
    }
    
    .contImage {
        width: 100%;
        position: relative;
        left: 0;
    }
    .swicher { 
        left: 0;
        right: 0;
        margin: auto;
        bottom: -20px;
    }
}