

@font-face {
  font-family: 'Intern';
  src: url(./assets//fonts/Inter-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Intern';
  src: url(./assets/fonts/Inter-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: 'Intern';
  src: url(./assets/fonts/Inter-Light.ttf);
  font-weight: lighter;
}

* {
  font-family: 'Intern';
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden ;
}

:root  {
  --dark-blue:hsl(240, 38%, 20%);
  --grayish-blue:hsl(240, 18%, 77%);
}


.App { 
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(assets/images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: bottom left;

}


@media screen and (max-width : 1000px) {

  .App { 
    min-height: 130vh;
  }
}